@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
#social {
  margin: 20px 10px;
  text-align: center;
}
.smGlobalBtn { /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border:2px solid #ddd; /* add border to the buttons */
    box-shadow: 0 3px 3px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 27px;
    -moz-border-radius:27px;
    -webkit-border-radius:27px;
}
.facebookBtn{ 		/* facebook button class*/
    background: #4060A5;
}
.facebookBtn:before{ 			/* use :before to add the relevant icons */
    font-family: "FontAwesome";
    content: "\f09a"; /* add facebook icon */
}
.facebookBtn:hover{
    color: #4060A5;
    background: #fff;
    border-color: #4060A5; /* change the border color on mouse hover */
}
.twitterBtn{		/* twitter button class*/
    background: #00ABE3;
}
.twitterBtn:before{
      font-family: "FontAwesome";
      content: "\f099"; /* add twitter icon */      
}
.twitterBtn:hover{
      color: #00ABE3;
      background: #fff;
      border-color: #00ABE3;
}
.googleplusBtn{ 		/* google plus button class*/
    background: #e64522;
}
.googleplusBtn:before{
      font-family: "FontAwesome";
      content: "\f0d5"; /* add googleplus icon */
}
.googleplusBtn:hover{
      color: #e64522;
      background: #fff;
      border-color: #e64522;
}
.linkedinBtn{  		/* linkedin button class*/
    background: #0094BC;
}
.linkedinBtn:before{
      font-family: "FontAwesome";
      content: "\f0e1"; /* add linkedin icon */
}
.linkedinBtn:hover{
      color: #0094BC;
      background: #fff;
      border-color: #0094BC;
}
.pinterestBtn{	/* pinterest button class*/
    background: #cb2027;
}
.pinterestBtn:before{
      font-family: "FontAwesome";
      content: "\f0d2"; /* add pinterest icon */
}
.pinterestBtn:hover{
      color: #cb2027;
      background: #fff;
      border-color: #cb2027;
}
.tumblrBtn{	/* tumblr button class*/
    background: #3a5876;
}
.tumblrBtn:before{
      font-family: "FontAwesome";
      content: "\f173"; /* add tumblr icon */
}
.tumblrBtn:hover{
      color: #3a5876;
      background: #fff;
      border-color: #3a5876;
}
.rssBtn{ 	/* rss button class*/
    background: #e88845;
}
.rssBtn:before{
      font-family: "FontAwesome";
      content: "\f09e"; /* add rss icon */
}
.rssBtn:hover{
      color: #e88845;
      background: #fff;
      border-color: #e88845;
}